@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: initial;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: none;
    font-family: Poppins,sans-serif;

}

body {
    background-color: rgb(0, 25, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    height: max-content;
    list-style: none;
    box-sizing: border-box;

}

header {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 10px 0px;
}

.header_pc {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_left {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.header_mid {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.header_right {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    
}

.buttons_flex {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons_flex button {
    font-size: 20px;
}

.header_mid img {
    width: 190px;
}

header button {
    background: transparent;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    transition: 0.3s ease all;
}

header button:hover {
    color: #00AFEF;
    cursor: pointer;
}


.boletos {
    width: 95%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;

}

.boletos h2 {
    font-size: 26px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.795);
}

.underline {
    width: 44px;
    height: 3px;
    background: #00AFEF;
    z-index: 999;
    border-radius: 5px;
    margin-top: -5px;
}

.in-boletos{
    width: 100%;
    padding: 30px;
    background: #002338;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin-top: 15px;
}

.in-boletos h2 {
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.795);
}

.in-boletos span{
    color: rgb(242, 242, 49);
}

.boletos-box{
    width: 100%;
    height: 55vh;
    background: #001b2c;
    border-radius: 15px;
    margin-top: 5px;
    overflow-y: auto;
}

.boletos-box::-webkit-scrollbar {
    
    width: 5px;
    
    
}
  
.boletos-box::-webkit-scrollbar-track {

    
  }
.boletos-box::-webkit-scrollbar-thumb {
    background-color: #00AFEF;
    border-radius: 15px;
    
    
    
  }


.info-boletos {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 10px;
}

.info-boletos div {
    color: rgba(255, 255, 255, 0.795);
    font-size: 13px;
    text-align: center;
}

.boleto-icon {
    width: 8%;
}

.boleto-data {
    width: 23%;
}

.boleto-vencimento {
    width: 23%;
}

.boleto-status {
    width: 25%;
}

.boleto-download {
    width: 20%;
}

.boleto  {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #002338;
    height: 45px;
}

.boleto div {
    color: rgba(255, 255, 255, 0.795);
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf-symbol{
    width: 8%;
    border-right: 1px solid #002338;
}

.pdf-symbol i {
    font-size: 16px;
    border-right: 1px solid #002338;
}

.data-pdf {
    width: 23%;
    border-right: 1px solid #002338;
}

.vencimento-pdf {
    width: 23%;
    border-right: 1px solid #002338;
}

.status {
    width: 25%;
    border-right: 1px solid #002338;
}

.download-pdf {
    width: 20%;
    border-right: 1px solid transparent;
}

.download-pdf button {
    background: transparent;
    width: 60%;
    border-radius: 8px;
    border: 1px solid #00AFEF;
    display: flex;
    height: 30px;
    align-items: center;
    transition: 0.3s ease all;
}

.download-pdf h2 {
    color: rgba(255, 255, 255, 0.795);
    font-size: 16px;
    width: 70%;
}

.download-pdf button span {
    background: #00AFEF;
    width: 30%;
    color: rgba(255, 255, 255, 0.795);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    font-size: 16px;
}

.download-pdf button:hover {
    background: #00AFEF;
    box-shadow: 0 0 1px #00AFEF,
    0 0 2px #00AFEF,
    0 0 6px #00AFEF,
    0 0 12px #00AFEF;
    cursor: pointer;
    letter-spacing: 1px;
}




/*MOBILE*/


.header_mobile {
    width: 95%;
    display: none;
    justify-content: space-between;
    align-items: center;

}

.header_mobile img {
    width: 150px;
    padding: 10px 0px;
}

#hamburguer {
    display: none;
}

.menu-icon {
    width: 50px;
    height: 50px;
    
}

.line1 {
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.795);
}

.line2 {
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.795);
    margin-top: 8px;
}

.line3 {
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.795);
    margin-top: 8px;
}