@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: initial;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: none;
    font-family: Poppins,sans-serif;

}

body {
    background-color: rgb(0, 25, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    height: max-content;
    list-style: none;
    box-sizing: border-box;

}

header {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    padding: 10px 0px;
}

.header_left {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header_mid {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header_right {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.buttons_flex {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons_flex button {
    font-size: 20px;
}

.header_mid img {
    width: 190px;
}

header button {
    background: transparent;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    transition: 0.3s ease all;
}

header button:hover {
    color: #00AFEF;
    cursor: pointer;
}

.cena {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bg img {
    width: 150%;
    opacity: 0.1;
}

.fundo_cell {
    position: absolute;
    top: 0;
    left: 0;
}

.fundo_cell img {
    width: 100%;
}

.celular {
    position: absolute;
    top: 0;
    left: 0;
}

.celular img {
    width: 100%;
}

.titulo {
    position: absolute;
    top: 0;
    left: 0;
}

.titulo img {
    width: 100%;
}

.subtitulo {
    position: absolute;
    top: 50%;
    z-index: 799;
    
}

.subtitulo h2 {
    width: 450px;
    text-align: center;
    color: rgb(224, 224, 224);
    font-size: 30px;
}

.entrar_ctt {
    position: absolute;
    top: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.entrar_ctt  button {
    position: absolute;
    width: 300px;
    position: absolute;
    background: transparent;
    border: 2px solid #00AFEF;
    padding: 8px 30px;
    border-radius: 15px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: 0.3s ease all;
    z-index: 799;
}

.entrar_ctt button:hover {
    background: #00AFEF;
    cursor: pointer;
}

.fundo_caminhao {
    position: absolute;
    top: 0;
    left: 0;
}

.fundo_caminhao img {
    width: 100%;
}

.caminhao {
    position: absolute;
    top: 0;
    left: 0;
}

.caminhao img {
    width: 100%;
}










.sec2 {
    background: rgb(6, 36, 48);
    z-index: 899;
    margin-top: -20px;
    box-shadow: 0px -10px 60px rgba(0, 68, 92, 0.559);
    padding: 50px 50px;
    height: 100%;
    color: white;
}